body {
	background: url(../img/duke02.jpg) no-repeat center 55% fixed;
	background-size: cover;
}

h1 {
	font-family: 'Raleway';
	color: #f5f5f5;
	text-align: center;
	font-weight: 100;
	font-size: 42px;
	text-transform: uppercase;
}


h2 {
	font-family: 'Raleway';
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

h3 {
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 700;

}

hr {
	border-color: #d3d3d3;
}

p {
	font-family: 'Raleway';
	font-weight: 300;
}

ul, li {
	font-family: 'Raleway';
	font-weight: 300;
}

.container {
	background-color: #f5f5f5;
	border-radius: 4px;
//	margin-bottom: 200px;
}


#hackitty-div {
	height: 200px;
	position: relative;
}

#hackitty {
	position: absolute;
	top: -93px;
	margin-left: -123px;
	left: 50%;
}

#interested {
	color: white;
	margin-top: 50px;
}

#details {
	text-align: center;
}

.deets {
	margin-bottom: 50px;
}

#logo {
	width: 75%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 1000px) {
	#logo {
		width: 50%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (min-width: 1500px) {
	#logo {
		width: 40%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

.feature {
	width: 300px;
	padding-bottom: 25px;
}

#details {
	margin-top: 50px;
}

#sponsors {
	text-align: center;
	width: 100%;
	margin-bottom: 50px;
}

.sponsor1 {
	width: 300px;
}

.sponsor2 {
	width: 250px;
}

.sponsor3 {
	width: 200px;
}

.btn-white {
	font-family: 'Raleway';
	font-size: 26px;
	font-weight: 700;
	color: #f5f5f5;
	background-color: #271e30;
}

.btn-white:hover {
	background-color: #f5f5f5;
	border-color: #61616b;
	color: #271e30;
}

#cta {
	text-align: center;
	margin-bottom: 50px;
}

#follow {
	display: none;
	position: fixed;
	bottom: 0;
	margin: 100px auto 0;
	height: 225px;
	width: 238px;
}

.walk {
	animation: walk-cycle 1s steps(10) infinite;
	background: url(../img/walkcycle.png) 0 0 no-repeat;
}

@keyframes walk-cycle {
	0% {background-position: 0 0; }
	100% {background-position: 0 -2250px; }
}

.sit {
	animation: sit-cycle 1s steps(5) infinite;
	background: url(../img/sitcycle.png) 0 0 no-repeat;
}

@keyframes sit-cycle {
	0% {background-position: 0 0; }
	100% {background-position: 0 -1125px; }
}

.swat {
	animation: swat-cycle 1s steps(5) infinite;
	background: url(../img/swatcycle.png) 0 0 no-repeat;
}

@keyframes swat-cycle {
	0% {background-position: 0 0; }
	100% {background-position: 0 -1250px; }
}

#mouse {
	position: fixed;
	bottom: 10px;
	left: 10px;
	background: url(../img/mouse1.png) 0 0 no-repeat;
	width: 98px;
	height: 40px;
}

#mouse:hover {
	background: url(../img/mouse2.png) 0 0 no-repeat;
}

.btn-xs {
	font-size: 20px;
}

#faq {
	padding: 0 20px;
	margin-bottom: 50px;
}

#partners {
	text-align: center;
	width: 100%;
	margin-bottom: 50px;
}

#social-media {
	text-align: center;
}

.social-media {
	display: inline-block;
	margin: 25px 10px;
	height: 64px;
	width: 64px;
}

#facebook {
	background: url(../img/facebook.png) 0 0 no-repeat;
}

#twitter {
	background: url(../img/twitter.png) 0 0 no-repeat;
}

#facebook:hover {
	background: url(../img/facebook-light.png) 0 0 no-repeat;
}

#twitter:hover {
	background: url(../img/twitter-light.png) 0 0 no-repeat;
}
