html, body {
	background: url(../img/duke02.jpg) no-repeat center 55% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h2 {
	font-family: 'Raleway';
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

h1 {
	font-family: 'Raleway';
	text-align: center;
	font-weight: 100;
	font-size: 42px;
	text-transform: uppercase;
}

hr {
	border-color: #d3d3d3;
}

.container {
	background-color: #f5f5f5;
	border-radius: 4px;
	margin-bottom: 200px;
}


#hackitty-div {
	height: 200px;
	position: relative;
}

#hackitty {
	position: absolute;
	top: -93px;
	margin-left: -123px;
	left: 50%;
}

#interested {
	color: white;
	margin-top: 50px;
}

#details {
	text-align: center;
}



#logo {
	width: 75%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 1000px) {
	#logo {
		width: 50%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (min-width: 1500px) {
	#logo {
		width: 40%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

.feature {
	width: 300px;
	padding-bottom: 25px;
}

#details {
	margin: 50px 0;
}

#sponsors {
	text-align: center;
	margin: 50px 0;
	width: 100%;
}

.sponsor {
	width: 200px;
}

.btn-white {
	background-color: #271e30; 
}

.btn-white:hover {
	background-color: white;
	border-color: #61616b;

}

#register-link {
	font-family: 'Raleway';
	font-size: 26px;
	font-weight: 700;
	color: white;
}

#register-link:hover {
	color: #271e30;
}

#sponsor-link {
	font-family: 'Raleway';
	font-size: 26px;
	font-weight: 700;
	color: white;
}

#sponsor-link:hover {
	color: #271e30;
}

#cta {
	text-align: center;
	margin-bottom: 50px;
}


#follow {
  /* steps causes the animation to chunk into 12 equal pieces */
  animation: walk-cycle 1s steps(12) infinite;
  -webkit-animation: walk-cycle 1s steps(12) infinite;
  background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat; 
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
}

@keyframes walk-cycle {  
  0% {background-position: 0 0; } 
  100% {background-position: 0 -2391px; } /* Must be full height of sprite or skipping will happen.*/
}
