<div class="row text-center">
	<img class="sponsor-img-medium" src="sponsors/red-ventures.png">
	<p class="container-small">
		Much thanks to Red Ventures for sponsoring this initative!
		<br>
		<br>
		In order to be more enviromentally friendly, HackDuke is no longer buying bottled water. Instead, we're providing HackKitty water bottles and 8 water coolers in an effort to save plastic!
	</p>
	<img style="height: 250px;" src="fall2014/cooler.jpg">
	<img style="height: 250px;" src="fall2014/waterbottle.jpg">
</div>