<div class="row text-center">
	<h2 class="banner-header">Pre-HackDuke Dinner Meetup</h2>
	<br>
	<img class="sponsor-img-medium" src="sponsors/microsoft.png"></a>
	<p class="container-small">
		Much thanks to Microsoft for sponsoring this event!
		<br>
		<br>
		Meet all the local Duke/UNC and NCState lady hacker participants and some lady mentors before the fun begins!
		<br>
		<br>
		Have awesome one on one conversations with some of the best, brightest and most passionate female hackers as well as some of the most successful female software engineers and designers in the tech industry over dinner.
	</p>
	<a class="cta-3" href="https://www.facebook.com/events/1493521477581631/">RSVP</a>
</div>
<div class="row text-center">
	<h2 class="banner-header">Ladies Storm Hackathons Dinner Meetup</h2>
	<p class="container-small">
		Go to Twinnies to get to know others from the Ladies Storm Hackathons community as well as the female mentors that are at the event!
	</p>
	<a class="cta-3" href="https://www.facebook.com/events/602507023208296">RSVP</a>
</div>