<div class="row text-center">
	<img class="sponsor-img-medium" src="sponsors/sendgrid.png">
	<p class="container-small">Much thanks to our sponsors SendGrid for providing us with massage therapists to relieve and tension and stress at the event!</p>
</div>