<div class="frame-light">
	<div class="container content">
		<h1>The Gist</h1>
		<p class="text-center">HackDuke is all about coding for social good. We emphasize collaboration, not competition and this reflects in the structure of our event. This is what you should expect from HackDuke on Saturday!</p>
		<div>
			<h3>Every participant must partake in at least two brainstorming/ideation sessions with non-profits.</h3>
			<p>We can not stress how crucial this part is to our event. The brainstorming phase takes place from 1:30PM to 4:00PM right after opening ceremony. Each non-profit has 30 minute sessions to describe their mission as well as go into further detail about the challenges that they are facing. This discussion will be led by the non-profit experts and mediated software engineering mentors.</p>
			<p>The challenges, as well as the times of when these sessions are going can be found <a href="/brainstorm">here</a>. Regardless of whether you will be working on your own idea, you should still attend the brainstorming sessions. We believe that interaction with real experts from non-profits adds an amazing educational value to our social good hackathon.</p>
			<p>To top it off, hacking will not start until the brainstorming sessions are over. Additionally, you will not be able to get a HackDuke t-shirt (or most of any swag for that matter) if you do not attend at least 2 brainstorming sessions. (Yes, it's that important. ;D)</p>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h3>Use Saturday lunch as an opportunity to meet new people.</h3>
				<p>We're having Noodles & Co for lunch! As you're munching on yummy noodles, reach out to people that you've never met before, whether it be a non-profit expert, software engineering mentor or a fellow student from another university.</p>
			</div>
			<div class="col-sm-6">
				<h3>Don't be afraid to grab a mentor or an expert and discuss your idea with them!</h3>
				<p>Our mentors and experts are here to help! Whether it be a general question about a social issue or a challenge, or frustration over getting a line of code to work, you can always count on our mentors and experts for assistance!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h3>Tech Talks will be during dinner!</h3>
				<p>Think of it like dinner and a movie! We have some awesome mentors from Google, Palantir and the Resolution Project ready to talk about how they've used technology to improve the world.</p>
			</div>
			<div class="col-sm-6">
				<h3>Almost all prizes will be donations to charity.</h3>
				<p>HackDuke wants to help out the community as much as possible and therefore, we've made the decisions that the prizes will be donations to a charity of the winning team's choice.</p>
			</div>
		</div>
	</div>
</div>