<div class="frame-light">
	<div class="container content">
		<h1>Mentorship Guidelines</h1>
		<div class="row">
			<div class="col-sm-6">
				<div class="text-center">
					<h2 class="banner-header">Non-Profit Organization Expert</h2>
				</div>
				<h3>Leading Up To HackDuke</h3>
				<ol>
					<li>Take time to think about the problems that your organization faces with the distribution, analysis and visualization of information.</li>
					<li>With the assistance of our software developer mentors, we will work with you to craft open-ended prompts for our participants.</li>
					<li>We will also help you prepare an engaging presentation about your organization and prompts.</li>
				</ol>
				<h3>Day Of HackDuke</h3>
				<ol>
					<li>Check in as mentor at 11AM Saturday, March 29th and engage in conversation with our participants over lunch.</li>
					<li>Take some time to introduce yourselves and your organization during the opening ceremony.</li>
					<li>After the opening ceremony, partake in brainstorming and community building activities with the participants. We hope you can leverage the expertise you have in your area to help give more information about the issues at hand to give constructive feedback on the solutions</li>
					<li>Judge the hacks remotely or on site on Sunday afternoon.</li>
					<li>Have an amazing time interacting with developers and designers who truely care about improving their community.</li>
				</ol>
			</div>
			<div class="col-sm-6">
				<div class="text-center">
					<h2 class="banner-header">Software Engineering Mentor</h2>
				</div>
				<h3>Leading Up To HackDuke</h3>
				<ol>
					<li>Take a look at the spreadsheet of prompts that we are compiling and help us refine and develop them.</li>
					<li>If you're a developer who has had experience developing for techonology for social good, we would love to have you prepare a presentation on your experiences!</li>
				</ol>
				<h3>Day of HackDuke</h3>
				<ol>
					<li>Check in as a mentor at 11AM Saturday, March 29th and engage in conversation with our participants over lunch.</li>
					<li>Take some time to introduce yourselves and your organization during the opening ceremony.</li>
					<li>After the opening ceremony, partake in brainstorming and community building activities with the participants. We hope you can leverage the expertise you have technology to help advise our participants in what is technically feasible.</li>
					<li>Judge the hacks during our Expo event on Sunday afternoon.</li>
					<li>Have an amazing time interacting with developers and designers who truely care about improving their community.</li>
				</ol>
			</div>
		</div>
	</div>
</div>