#sponsors {
	text-align: center;
	width: 100%;
	margin-bottom: 50px;
}

.sponsor1 {
	width: 300px;
	padding: 20px;
}

.sponsor2 {
	width: 250px;
	padding: 20px;
}

.sponsor3 {
	width: 200px;
	padding: 20px;
}