<div class="row text-center">
	<div class="col-sm-6">
		<a href="https://sendgrid.com/docs/API_Reference/index.html"><img class="sponsor-img-medium" src="sponsors/sendgrid.png"></a>
		<h3>SendGrid API</h3>
		<a href="http://api.sharefile.com/rest/"><img class="sponsor-img-medium" src="sponsors/citrix.png"></a>
		<h3>Citrix/ShareFile API</h3>
		<p><a href="https://dl.dropboxusercontent.com/u/27798259/Duke%20Hackathon%20Accounts.txt">API Accounts</a> (one per team)</p>
		<a href="https://www.twilio.com/api"><img class="sponsor-img-medium" src="sponsors/twilio.png"></a>
		<h3>Twilio API</h3>
		<p>$25 Credit (use HACKDUKE)</p>
		<a href="http://dev.colab.duke.edu/"><img class="sponsor-img-medium" src="sponsors/colab.png"></a>
		<h3>Duke University APIs</h3>
		<a href="http://dev.socrata.com/"><img class="sponsor-img-medium" src="partners/socrata.png"></a>
		<h3>Socrata API</h3>
		<a href="https://ace.ng.bluemix.net/"><img class="sponsor-img-medium" src="sponsors/ibm.png"></a>
		<h3>IBM Bluemix Platform</h3>
		<a href="https://support.versal.com/hc/en-us/articles/203271886-Versal-for-Organizations-API"><img class="sponsor-img-medium" src="sponsors/versal.png"></a>
		<h3>Versal API</h3>
	</div>
	<div class="col-sm-6">
		<a href="http://aws.amazon.com/activate/event/hackduke/"><img class="sponsor-img-medium" src="sponsors/aws.png"></a>
		<h3>Amazon AWS Credits</h3>
		<p>$100 Credit</p>
		<a href="http://aka.ms/azurepasshack"><img class="sponsor-img-medium" src="sponsors/microsoft.png"></a>
		<a href="http://aka.ms/hackduke"><img class="sponsor-img-medium" src="fall2014/bizspark.png"></a>
		<h3>Microsoft Azure Web API & Microsoft BizSpark</h3>
		<a href="https://go.developer.ebay.com/"><img class="sponsor-img-medium" src="sponsors/ebay.png"></a>
		<br>
		<a href="https://developer.paypal.com/"><img class="sponsor-img-medium" src="sponsors/paypal.png"></a>
		<br>
		<a href="http://milo.com/developers?next=http%3A%2F%2Fmilo.com%2Fapi-docs%2Findex.html"><img class="sponsor-img-medium" src="sponsors/milo.png"></a>
		<br>
		<a href="http://magento.com/products/overview#community"><img class="sponsor-img-medium" src="fall2014/magento.png"></a>
		<br>
		<a href="https://developer.stubhub.com/store/"><img class="sponsor-img-medium" src="fall2014/stubhub.png"></a>
		<br>
		<h3>eBay APIs</h3>
	</div>
</div>