<div class="row text-center">
	<img class="sponsor-img-medium" src="partners/socrata.png"></a>
	<img class="sponsor-img-medium" src="fall2014/code-for-durham.png">
	<br>
	<p>
		Much thanks to Socrata and Code For Durham for organizing and providing the <a href="https://brigades.opendatanetwork.com/brigade?brigade=Code%20for%20Durham">open data portal</a>!
	</p>
</div>
<div class="row">
	<div class="col-sm-3 text-center">
		<a class="icon-fa" href="https://brigades.opendatanetwork.com/catalog?category=INEQUALITY&Brigade_Group=Code%20for%20Durham"><i class="fa fa-shield"></i></a>
		<h3>Poverty & Inequality</h3>
	</div>
	<div class="col-sm-3 text-center">
		<a class="icon-fa" href="https://brigades.opendatanetwork.com/catalog?category=EDUCATION&Brigade_Group=Code%20for%20Durham"><i class="fa fa-child"></i></a>
		<h3>Education</h3>
	</div>
	<div class="col-sm-3 text-center">
		<a class="icon-fa" href="https://brigades.opendatanetwork.com/catalog?category=HEALTH&Brigade_Group=Code%20for%20Durham"><i class="fa fa-stethoscope"></i></a>
		<h3>Health & Wellness</h3>
	</div>
	<div class="col-sm-3 text-center">
		<a class="icon-fa" href="https://brigades.opendatanetwork.com/catalog?category=ENVIRONMENT&Brigade_Group=Code%20for%20Durham"><i class="fa fa-leaf"></i></a>
		<h3>Energy & Environment</h3>
	</div>
</div>