<nav class="navbar-fixed-top navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" id="logo" href="/"><%= image_tag "spring2014/logo.svg" %></a>
  </div>
  <div class="collapse navbar-collapse" id="nav">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a place="#about" class="dropdown-toggle" data-toggle="dropdown" href="#">More Info <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/organizers">Our Team</a></li>
          <li><a href="/schedule">Schedule</a></li>
          <li><a href="/speakers">Speakers</a></li>
          <li><a href="/prizes">Prizes</a></li>
          <li><a href="/travel">Travel</a></li>
          <li><a href="/courses">Crash Courses</a></li>
          <li><a href="/tech-talks">Tech Talks</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tracks <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="http://hackduke.tumblr.com/inequality">Inequality</a></li>
          <li><a href="http://hackduke.tumblr.com/energy-environment">Energy & The Environment</a></li>
          <li><a href="http://hackduke.tumblr.com/education">Education</a></li>
          <li><a href="http://hackduke.tumblr.com/health-wellness">Health & Wellness</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fun <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <!-- <li><a class="scroll" href="/fun#hardware">Hardware</a></li> -->
          <li><a class="scroll" href="/fun#data">Datasets</a></li>
          <li><a class="scroll" href="/fun#api-credits">APIs & Credits</a></li>
          <li><a class="scroll" href="/fun#eco">Eco-Friendliness</a></li>
          <li><a class="scroll" href="/fun#massages">Massages</a></li>
          <li><a class="scroll" href="/fun#ladies">Ladies Night</a></li>
          <li><a class="scroll" href="/fun#nerf">Nerf Gun Wars</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a place="#mentors" class="scroll dropdown-toggle" data-toggle="dropdown" href="#mentors">Mentors <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/mentor-guidelines">Learn about mentorship</a></li>
          <li><a href="/mentor-info">Become a mentor</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a place="#sponsors" class="scroll dropdown-toggle" data-toggle="dropdown" href="#sponsors">Sponsors <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/fall2014/fall-2014-sponsorship.pdf">Learn about sponsorship</a></li>
          <li><a href="mailto:sponsorship@hackduke.org">Become a sponsor</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Past <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="http://spring2014.hackduke.org">HackDuke Spring 2014</a></li>
          <li><a href="http://fall2013.hackduke.org">HackDuke Fall 2013</a></li>
        </ul>
      </li>
      <li><a href="http://hackduke.tumblr.com/">Blog</a></li>
      <li><a href="http://reg.hackduke.org">Register</a></li>
    </ul>
  </div>
</nav>