<div class="row text-center">
	<img class="sponsor-img-medium" src="sponsors/ebay.png">
	<img class="sponsor-img-medium" src="sponsors/milo.png">
	<p class="container-small">
		Much thanks to eBay and Milo for sponsoring this event!
		<br>
		<br>
		As always, we're hosting Nerf Gun Wars downstairs in CIEMAS basement from 10:00PM to 11:00PM. We'll be providing guns and ammo, but feel free to come equipped with your own arsenal!
	</p>
	<iframe width="560" height="315" src="//www.youtube.com/embed/azgTUSWVj5M" frameborder="0" allowfullscreen></iframe>
</div>