<div class="frame-light">
	<div class="container content">
		<h1>Opening Ceremony Speakers</h1>
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="banner-header">Mayor of Durham</h2>
				<img class="profile-img" src="fall2014/bill-bell.png">
				<h3>Bill Bell</h3>
				<p class="container-small">
					Bill Bell is the current mayor of Durham, North Carolina. Mr. Bell holds a Bachelor of Science and Master's degree in Electrical Engineering from Howard University and New York University, respectively. Formerly a senior engineer for IBM, Bell was first elected to the Durham County Board of Commissioners in 1972, where he served until 1994, and again from 1996 to 2000. Bell is currently Executive Vice President and Chief Operating Officer of UDI Community Development Corp., a non-profit organization.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-center">
				<h2 class="banner-header">Founder of ShareFile</h2>
				<img class="profile-img" src="fall2014/jesse.png">
				<h3>Jesse Lipson</h3>
				<p>
					Jesse is the VP & GM of Data Sharing for Citrix, which acquired ShareFile in 2011. ShareFile is a file-transfer service built for business users who need secure, reliable and easy tools for sharing data. Jesse launched ShareFile in 2005 and bootstrapped the company from zero to four million users in six years; today Citrix ShareFile has 13 million users in 100 countries. As a founding partner of HUB Raleigh, he's particularly interested in helping the Research Triangle area become a top-five region for entrepreneurship and innovation in the U.S. He holds a degree in philosophy from Duke University.
				</p>
			</div>
			<div class="col-sm-6 text-center">
				<h2 class="banner-header">Duke Energy Initiative</h2>
				<img class="profile-img" src="fall2014/kyle.png">
				<h3>Kyle Bradbury</h3>
				<p>
					Kyle brings experience in machine learning and statistical modeling to energy problems. He completed his Ph.D. at Duke University, with research focused on modeling the reliability and cost trade-offs of energy storage systems for integrating wind and solar power into the grid. Kyle holds a M.S. in Electrical Engineering from Duke University where he specialized in statistical signal processing and machine learning, and a B.S. in Electrical Engineering from Tufts University. He has worked for ISO New England, MIT Lincoln Laboratories, and Dominion.
				</p>
			</div>
		</div>
	</div>
</div>