<div class="frame-light">
  <div class="container content">
    <h1>Travel</h1>
    <div class="row">
      <div class="text-center container-small">
        <p>Some of you may be asking: <strong>"How the flippity do I get to HackDuke?"</strong><br>Here's the page that will answer all your questions!</p>
      </div>
      <div class="col-sm-6 text-center">
        <h3>Where</h3>
        <p>
          <a href="https://www.google.com/maps/place/Fitzpatrick+Center+for+Interdisciplinary+Engineering,+Medicine+and+Applied+Sciences,+Duke+University:+Office+of+Undergraduate+Admissions,+101+Science+Dr,+Durham,+NC+27705/@36.0024777,-78.9402403,17z/data=!4m9!1m6!2m5!1s101+science+drive+duke+university!3m3!1s101+science+drive+duke+university!2s110+Science+Dr,+Duke+University:+Office+of+Undergraduate+Admissions,+Durham,+NC+27710!3s0x89ace6b1c79f0ae5:0xdc0d96ebc33ff1b5!3m1!1s0x89ace6ae2705c505:0xebe4fa6e621cb48d">The Fitzpatrick Center for Interdisciplinary Engineering, Medicine and Applied Sciences (FCIEMAS)</a>
          <br>101 Science Drive
          <br>Durham, NC 27708
        </p>
      </div>
      <div class="col-sm-6 text-center">
        <h3>How</h3>
        <p>
          The nearest airport is the Raleigh-Durham International Airport (RDU)
          <br>
          The nearest train station is the Durham Amtrak
        </p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h2 class="banner-header">Parking</h2>
      </div>
      <div class="container-small">
        <p>
          Because there is a football game against Virginia Tech on Saturday, Duke will go into checkpoint mode at 11:30AM. Participants, mentors and sponsors will also not be allowed to park in PG4/Bryan Center, where guests usually park on non-football game days.
        </p>
        <p>
          All vehicles must park in the <a href="https://www.google.com/maps/place/Durham,+NC+27705,+Duke+University:+Office+of+Undergraduate+Admissions/@36.0052178,-78.929934,17z/data=!3m1!4b1!4m2!3m1!1s0x89ace6aa16dac0bf:0x506249890fe1ea5c">H Lot</a>, on the intersection of <a href="https://www.google.com/maps/@36.0052215,-78.9303787,3a,75y,6.1h,71.71t/data=!3m4!1e1!3m2!1smWwdP8AwUwthcY7Xar-ZLA!2e0">Anderson Street and Yearby Avenue </a>.
        </p>
        <p>
          The walking directions to get to FCIEMAS are <a href="https://www.google.com/maps/dir/Durham,+NC/Fitzpatrick+Center+for+Interdisciplinary+Engineering,+Medicine+and+Applied+Sciences,+101+Science+Dr,+Durham,+NC+27705/@36.002201,-78.9451544,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x89ace6aa16dac0bf:0x506249890fe1ea5c!2m2!1d-78.929934!2d36.0052178!1m5!1m1!1s0x89ace6ae2705c505:0xebe4fa6e621cb48d!2m2!1d-78.940025!2d36.0034435!3e2">here</a>.
        </p>
        <p>
          The bus directions to get to FCIEMAS is as follows:
        </p>
        <ol>
          <li><a href="https://www.google.com/maps/dir/36.005283,-78.9304272/36.0042348,-78.9301103/@36.004311,-78.9296819,19z/data=!4m9!4m8!1m5!3m4!1m2!1d-78.9301023!2d36.004588!3s0x89ace6aa1ee10d1f:0xab45f263b6782c1b!1m0!3e2">Walk</a> to the westbound <a href="https://www.google.com/maps/@36.0043006,-78.9300037,3a,75y,272.39h,75.31t/data=!3m4!1e1!3m2!1sNmweTYoPhLtKajipNa3FEA!2e0">Anderson Street bus stop</a> and wait for a C2 bus on the side away from the Devil's Bistro.</li>
          <li>Take the C2 all the way to <a href="https://www.google.com/maps/@36.0009457,-78.938209,3a,90y,266.86h,68.79t/data=!3m4!1e1!3m2!1syDx8QYwgrlB2F3cdLi8M8w!2e0">West Campus bus stop</a>. This is the last stop on the westbound C2.</li>
          <li><a href="https://www.google.com/maps/dir/36.0009504,-78.938235/Fitzpatrick+Center+for+Interdisciplinary+Engineering,+Medicine+and+Applied+Sciences,+Duke+University:+Office+of+Undergraduate+Admissions,+101+Science+Dr,+Durham,+NC+27705/@36.0019995,-78.9421712,17z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x89ace6ae2705c505:0xebe4fa6e621cb48d!2m2!1d-78.940025!2d36.0034435!3e2">Walk</a> to CIEMAS to check in.</li>
        </ol>
        <p>
          If you are not a bus driver and have any items or people to drop off for the event, you must enter Duke via <a href="https://www.google.com/maps/dir///@36.0088242,-78.9425266,3a,75y,185.68h,90.1t/data=!3m4!1e1!3m2!1s6PX5TudhJzTp2PfUQrg1UQ!2e0">Erwin Road & Research Drive</a>.
        </p>
        <p>
          Then, make your way towards <a href="https://www.google.com/maps/dir/36.0088199,-78.9426446/36.0029498,-78.9389551/@36.002951,-78.9389543,17z/data=!4m2!4m1!3e0">Telecom Drive</a>. This will bring you at the back of FCIEMAS. We will have a volunteer assist you when you get to the <a href="https://www.google.com/maps/dir/36.0088199,-78.9426446/36.0029498,-78.9389551/@36.002951,-78.9389543,3a,75y,303.75h,87.65t/data=!3m4!1e1!3m2!1sCeTZfbZMVxNrBNXdOb4xqA!2e0!4m2!4m1!3e0">dropoff point</a>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h2 class="banner-header">Local</h2>
      </div>
      <div class="col-sm-4">
        <h3>Duke Students</h3>
        <p>Walk to FCIEMAS if you're living on West Campus. Take the C1 if you're living on East Campus, C2 if you're living on Central Campus and head to the Engineering Quad.</p>
      </div>
      <div class="col-sm-4">
        <h3>UNC Students</h3>
        <p>Take the Roberson Scholar Express bus to Duke. The bus fare and details can be found <a href="http://robertsonscholars.org/bus/">here</a> and the bus schedule can be found <a href="http://robertsonscholars.org/wp-content/uploads/2013/08/RSX-Schedule-Fall-2014.pdf">here</a>.</p>
      </div>
      <div class="col-sm-4">
        <h3>NC State Students</h3>
        <p>Find a carpool or split an Uber/Lyft with participants from your school to drive to Duke. Directions can be found <a href="https://www.google.com/maps/dir/Pratt+School+of+Engineering,+100+Science+Dr,+Durham,+NC+27705/North+Carolina+State+University,+Raleigh,+NC+27695/@35.8705828,-78.958371,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89ace6b1e09632fb:0x8df8faa9dd32cb33!2m2!1d-78.940417!2d36.004059!1m5!1m1!1s0x89acf5a2e3c07939:0x30f2ec9d64b67751!2m2!1d-78.682095!2d35.784663">here</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h2 class="banner-header">Bus</h2>
      </div>
      <div class="container-small">
        <p>We will be providing a bus for certain schools that have over 40 registrations. If you would like a bus to be provided to your school you must make sure your school has a point person to coordinate the bus. Then, you should contact <a href="mailto:hackers@hackduke.org">hackers@hackduke.org</a> so that HackKitty or one of our organizers can help you get your school to HackDuke.
        </p>
        <p class="text-center">
          The schools that we are providing buses for so far are:
          <br><br>Georgia Tech & Florida State University (joint bus)
          <br>Virginia Tech
          <br>University of Maryland College Park
          <br>University of Illinois at Urbana-Champaign & Purdue University (joint bus)
          <br>McMaster University
        </p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h2 class="banner-header">Air or Train</h2>
      </div>
      <div class="container-small">
        <p>Unfortunately, because our venue has a limit of 500 participants and we have a limited amount of funding, we can't get all 1200+ of our registrants to come to HackDuke.
          <br><br><strong>Registrants who go to schools that do not have a bus provided for them and are out of state will be selected to participate in HackDuke.</strong>
          <br><br>These participants, who will most likely be traveling by plane, will be eligible for a reimbursement of up to $200.
          <br>They will be notified by email by <strong>October 19th</strong> about their status and will have until <strong>October 26th</strong> to confirm their spot and whether they need travel reimbursement.
          <br><br>If you did not get an email regarding confirmation of participation, you can opt to be put on the waitlist, so that when we find out that we have room for more participants, we will be selecting from the waitlist.
        </p>
      </div>
      <div class="container-small">
        <p>If you have gotten an email about participating at HackDuke, welcome! The next steps should be broken down to you in the email, but to reiterate, you need to:</p>
        <ol>
          <li>Confirm that you are coming to HackDuke and you need travel reimbursement by <strong>October 26th</strong>.</li>
          <li>Fill out the W9 form and upload it to your personalized registration link by <strong>November 22nd</strong>. This is absolutely crucial for your travel reimbursement.</li>
          <li>Buy your tickets and upload it to your personalized registration link by <strong>November 22nd</strong>. This is also absolutely crucial for your travel reimbursement.</li>
          <li>If you are an international student and do not have a social security number, we need a copy of your passport, visa and letter from the university stating your are in good standing by <strong>November 22nd</strong>.</li>
        </ol>
      </div>
    </div>
  </div>
</div>