<div class="frame-light">
  <div class="container content">
    <h1>Travel</h1>
    <div class="row">
      <div class="text-center container-small">
        <p>Some of you may be asking: <strong>"How the flippity do I get to HackDuke?"</strong><br>Here's the page that will answer all your questions!</p>
      </div>
      <div class="col-sm-6 text-center">
        <h3>Where</h3>
        <p>
          <a href="https://www.google.com/maps/place/Fitzpatrick+Center+for+Interdisciplinary+Engineering,+Medicine+and+Applied+Sciences,+Duke+University:+Office+of+Undergraduate+Admissions,+101+Science+Dr,+Durham,+NC+27705/@36.0024777,-78.9402403,17z/data=!4m9!1m6!2m5!1s101+science+drive+duke+university!3m3!1s101+science+drive+duke+university!2s110+Science+Dr,+Duke+University:+Office+of+Undergraduate+Admissions,+Durham,+NC+27710!3s0x89ace6b1c79f0ae5:0xdc0d96ebc33ff1b5!3m1!1s0x89ace6ae2705c505:0xebe4fa6e621cb48d">The Fitzpatrick Center for Interdisciplinary Engineering, Medicine and Applied Sciences (FCIEMAS)</a>
          <br>101 Science Drive
          <br>Durham, NC 27708
        </p>
      </div>
      <div class="col-sm-6 text-center">
        <h3>How</h3>
        <p>
          The nearest airport is the Raleigh-Durham International Airport (RDU)
          <br>
          The nearest train station is the Durham Amtrak
        </p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h2 class="banner-header">Parking</h2>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">Saturday Parking Instructions & FAQ</h3>
        <p>
          Because there is a football game against Virginia Tech on Saturday, Duke will go into checkpoint mode at 9:00AM. Participants, mentors and sponsors will also not be allowed to park in PG4/Bryan Center, where guests usually park on non-football game days.
        </p>
        <h3>So where do I park?</h3>
        <p>
          All vehicles must park in the <a href="https://www.google.com/maps/place/2298+Hillsborough+Rd,+Durham,+NC+27705/@36.0104431,-78.9248098,3a,75y,20.12h,82.28t/data=!3m4!1e1!3m2!1sVu8n9QgNP1bBoDrBLsQ6mQ!2e0!4m2!3m1!1s0x89ace3ff6ae53ea9:0x498c73ab1db10303!6m1!1e1">R1 Lot</a>, on the intersection of Hillsbourough Road and Carolina Avenue. This lot is behind the Harris Teeter.
        </p>
        <h3>How do I get to the venue from the lot?</h3>
        <p>
          Since this location is quite a distance from FCIEMAS, we will be providing a shuttle from the parking lot to FCIEMAS in the morning, that will follow <a href="https://www.google.com/maps/dir/36.002954,-78.9389569/36.0104875,-78.9257604/@36.0093662,-78.9434335,15z/data=!3m1!4b1">these directions</a> to get to FCIEMAS.
        </p>
        <h3>How do I get back to the lot from the venue?</h3>
        <p>
          For anyone who needs to get back to the lot during the event, they can order an Uber. We will only be providing shuttles in the morning.
        </p>
        <h3>What do I do if I have passengers and/or swag to drop off?</h3>
        <p>
          If you are bus driver and have any items or people to drop off for the event, you must enter Duke via <a href="https://www.google.com/maps/dir///@36.0088242,-78.9425266,3a,75y,185.68h,90.1t/data=!3m4!1e1!3m2!1s6PX5TudhJzTp2PfUQrg1UQ!2e0">Erwin Road & Research Drive</a>.
        </p>
        <p>
          Then, make your way towards <a href="https://www.google.com/maps/dir/36.0088199,-78.9426446/36.0029498,-78.9389551/@36.002951,-78.9389543,17z/data=!4m2!4m1!3e0">Telecom Drive</a>. This will bring you at the back of FCIEMAS. We will have a volunteer assist you when you get to the <a href="https://www.google.com/maps/dir/36.0088199,-78.9426446/36.0029498,-78.9389551/@36.002951,-78.9389543,3a,75y,303.75h,87.65t/data=!3m4!1e1!3m2!1sCeTZfbZMVxNrBNXdOb4xqA!2e0!4m2!4m1!3e0">dropoff point</a>.
        </p>
        <p>
          Finally, you should make your way to the parking area. <a href="https://www.google.com/maps/dir/36.002954,-78.9389569/36.0104875,-78.9257604/@36.0093662,-78.9434335,15z/data=!3m1!4b1">The directions are here</a>.
        </p>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">Sunday Parking Instructions & FAQ</h3>
        <p>
          Because the football game would have ended by Sunday (thank god), visitors are now allowed to park in the <a href="https://www.google.com/maps/place/Bryan+Center+Parking+Garage/@36.0015636,-78.9424577,20z/data=!4m7!1m4!3m3!1s0x89ace6b1b400ffb7:0xc2be5f60ba015690!2s136+Science+Dr,+Duke+University:+Office+of+Undergraduate+Admissions,+Durham,+NC+27710!3b1!3m1!1s0x0000000000000000:0xd93e0311802b46bb">PG4/Bryan Center lot</a>. You may also now enter campus on the intersection of Science Drive and Towerview Road.
        </p>
        <h3>So where do I park?</h3>
        <p>
          Participants, mentors and sponsors can park their cars in the <a href="https://www.google.com/maps/place/Bryan+Center+Parking+Garage/@36.0015636,-78.9424577,20z/data=!4m7!1m4!3m3!1s0x89ace6b1b400ffb7:0xc2be5f60ba015690!2s136+Science+Dr,+Duke+University:+Office+of+Undergraduate+Admissions,+Durham,+NC+27710!3b1!3m1!1s0x0000000000000000:0xd93e0311802b46bb">PG4/Bryan Center lot</a>. There is a parking fee of $5. Cash only.
        </p>
        <h3>How do I get to the venue from the lot?</h3>
        <p>
          Walking to FCIEMAS from the PG4/Bryan Center lot is easy. <a href="https://www.google.com/maps/dir/Fitzpatrick+Center+for+Interdisciplinary+Engineering,+Medicine+and+Applied+Sciences,+101+Science+Dr,+Durham,+NC+27705,+USA/Bryan+Center+Parking+Garage,+Durham,+NC+27710/@36.0034705,-78.9402556,17z/data=!4m13!4m12!1m5!1m1!1s0x89ace6ae2705c505:0xebe4fa6e621cb48d!2m2!1d-78.940025!2d36.0034435!1m5!1m1!1s0x89ace6b043092259:0xd93e0311802b46bb!2m2!1d-78.9421!2d36.001662">Here are the directions</a>.
        </p>
        <h3>What if I'm still parked in the R1 lot from yesterday?</h3>
        <p>
          We are only providing shuttles for Saturday morning transportation. Therefore, you can take an Uber to get to the lot whenever you wish on Sunday.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h2 class="banner-header">Local</h2>
      </div>
      <div class="col-sm-4">
        <h3>Duke Students</h3>
        <p>Walk to FCIEMAS if you're living on West Campus. Take the C1 if you're living on East Campus, C2 if you're living on Central Campus and head to the Engineering Quad.</p>
      </div>
      <div class="col-sm-4">
        <h3>UNC Students</h3>
        <p>Take the Roberson Scholar Express bus to Duke. The bus fare and details can be found <a href="http://robertsonscholars.org/bus/">here</a> and the bus schedule can be found <a href="http://robertsonscholars.org/wp-content/uploads/2013/08/RSX-Schedule-Fall-2014.pdf">here</a>.</p>
      </div>
      <div class="col-sm-4">
        <h3>NC State Students</h3>
        <p>Find a carpool or split an Uber/Lyft with participants from your school to drive to Duke. Directions can be found <a href="https://www.google.com/maps/dir/Pratt+School+of+Engineering,+100+Science+Dr,+Durham,+NC+27705/North+Carolina+State+University,+Raleigh,+NC+27695/@35.8705828,-78.958371,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89ace6b1e09632fb:0x8df8faa9dd32cb33!2m2!1d-78.940417!2d36.004059!1m5!1m1!1s0x89acf5a2e3c07939:0x30f2ec9d64b67751!2m2!1d-78.682095!2d35.784663">here</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h2 class="banner-header">Bus</h2>
      </div>
      <div class="container-small">
        <p>We will be providing a bus for certain schools that have over 40 registrations. If you would like a bus to be provided to your school you must make sure your school has a point person to coordinate the bus. Then, you should contact <a href="mailto:hackers@hackduke.org">hackers@hackduke.org</a> so that HackKitty or one of our organizers can help you get your school to HackDuke.
        </p>
        <p class="text-center">
          The schools that we are providing buses for so far are:
          <br><br>Georgia Tech & Florida State University (joint bus)
          <br>Virginia Tech
          <br>University of Maryland College Park
          <br>University of Illinois at Urbana-Champaign & Purdue University (joint bus)
          <br>McMaster University
        </p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h2 class="banner-header">Air or Train</h2>
      </div>
      <div class="container-small">
        <p>Unfortunately, because our venue has a limit of 500 participants and we have a limited amount of funding, we can't get all 1200+ of our registrants to come to HackDuke.
          <br><br><strong>Registrants who go to schools that do not have a bus provided for them and are out of state will be selected to participate in HackDuke.</strong>
          <br><br>These participants, who will most likely be traveling by plane, will be eligible for a reimbursement of up to $200.
          <br>They will be notified by email by <strong>October 19th</strong> about their status and will have until <strong>October 26th</strong> to confirm their spot and whether they need travel reimbursement.
          <br><br>If you did not get an email regarding confirmation of participation, you can opt to be put on the waitlist, so that when we find out that we have room for more participants, we will be selecting from the waitlist.
        </p>
      </div>
      <div class="container-small">
        <p>If you have gotten an email about participating at HackDuke, welcome! The next steps should be broken down to you in the email, but to reiterate, you need to:</p>
        <ol>
          <li>Confirm that you are coming to HackDuke and you need travel reimbursement by <strong>October 26th</strong>.</li>
          <li>Fill out the W9 form and upload it to your personalized registration link by <strong>November 22nd</strong>. This is absolutely crucial for your travel reimbursement.</li>
          <li>Buy your tickets and upload it to your personalized registration link by <strong>November 22nd</strong>. This is also absolutely crucial for your travel reimbursement.</li>
          <li>If you are an international student and do not have a social security number, we need a copy of your passport, visa and letter from the university stating your are in good standing by <strong>November 22nd</strong>.</li>
        </ol>
      </div>
    </div>
  </div>
</div>