<div class="row mission-unit clearfix">
  <div class="col-md-4 picture">
    <img src="/spring_2014/about-2.png">
  </div>
  <div class="col-md-8">
    <div class="row mission">
      <div class="number col-sm-4 col-md-3">
        1.
      </div>
      <div class="blurb-wrapper col-sm-8 col-md-9">
        <div class="blurb">
          <div class="blurb-header">
            Collaboration, not competition
          </div>
          <div class="blurb-body">
            HackDuke is not just about building meaningful projects. It's also an open forum to discuss, share and bring to life ideas that aim to make a positive impact on social issues. Look forward to working with experts from non-profits and coding alongside mentors from tech companies!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mission-unit clearfix">
  <div class="col-md-4 picture">
    <img src="/spring_2014/about-3.png">
  </div>
  <div class="col-md-8">
    <div class="row mission">
      <div class="number col-sm-4 col-md-3">
        2.
      </div>
      <div class="blurb-wrapper col-sm-8 col-md-9">
        <div class="blurb">
          <div class="blurb-header">
            Exploring the intersection between technology and social good
          </div>
          <div class="blurb-body">
            HackDuke welcomes anyone who has passion. If you don’t know how to code, fret not! We are open to people of all majors who are interested in how technology can be used to promote social change.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mission-unit clearfix">
  <div class="col-md-4 picture">
    <img src="/spring_2014/about-4.png">
  </div>
  <div class="col-md-8">
    <div class="row mission">
      <div class="number col-sm-4 col-md-3">
        3.
      </div>
      <div class="blurb-wrapper col-sm-8 col-md-9">
        <div class="blurb">
          <div class="blurb-header">Giving back</div>
          <div class="blurb-body">
            HackDuke encourages students to venture beyond the classroom. Learn how your skills can be used to make a difference other people’s lives.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="social-media">
  <a class="social-media" id="facebook" href="https://www.facebook.com/events/370051956458772/"></a>
  <a class="social-media" id="twitter" href="https://twitter.com/hackduke"></a>
</div>
</div>