<div class="frame-light">
	<div class="container content">
		<h1>Mentorship Guidelines</h1>
		<div class="container-small">
			<div class="text-center">
				<h2 class="banner-header">Leading Up To HackDuke</h2>
			</div>
			<ol>
				<li>Take time to think about the problems that your specific track faces with the distribution, analysis and visualization of information.</li>
				<li>Check out our <a href="www.hackduke.tumblr.org">blog</a>, the <a href="">challenges</a> that the community of Durham have worked together to create and the <a href="">datasets</a> available!</li>
				<li>Get excited!</li>
			</ol>
			<div class="text-center">
				<h2 class="banner-header">Day Of HackDuke</h2>
			</div>
			<h3>Location, Parking & Schedule?</h3>
			<p>
				Arrive at 10:30am on Saturday to help your recruiter set up the table. 11:00am is when lunch starts and students will be walking around and getting to know you. This will go on for an hour until we will start ushering people to walk over to Griffith Auditorium for the opening ceremony. If you are not a software engineering mentor associated with a company, I would suggest you go to the Code for Durham table.
				<br>
				<br>
				The exact location, where to park and detailed Google maps directions can all be found <a href="/travel">here</a>. The schedule can be found <a href="/schedule">here</a>.
			</p>
			<h3>How do I best engage with the participants?</h3>
			<p>
				Join the <a href="https://www.facebook.com/profile.php?id=697704123670722">HackDuke 2014 Participants Facebook Page</a>! Typically, day of, hackers will be posting on the Facebook group or Tweeting to find the mentors who will be able to help them out if they can't immediately find you in person, so check back! Most of the hacking will be taking place in either the atrium of CIEMAS or Schiciano Auditorium.
				<br>
				<br>
				<strong>Don't be afraid to approach the participants, and don't stay at your company table 24/7.</strong> We strongly encourage you to walk around, talk to the hackers, ask them questions and help them out with their hacks. We will be encouraging them to come and interact with you, but remember, it takes two to tango (and create some awesome hacks!).

			</p>
			<h3>Novices?</h3>
			<p>
				We do have a track specifically for novices, and a space (Schiciano Auditorium) specifically for them as well. If you've marked that you want to help out novices, please make it a point to visit Schiciano Auditorium every once in a while. You are free to help them with their hacks <strong>to your best judgement</strong>. This means if a group is having trouble with their dev environment, or having trouble setting up your API and this is their first time at a hackathon or this is their first exposure to computer science, <strong>it is not against the rules to give them a little boost</strong>.
			</p>
			<h3>Opening Ceremony API Flash talks and Tech talks?</h3>
			<p>
				The lineup for the opening ceremony API flash talks is <a href="/schedule">here</a>, under the Opening Ceremony tab. All companies have a maximum of 3 minutes to demo. Please format your presentation to that time constraint. If we run over time, this will negatively impact our schedule for tech talks. 
				<br>
				<br>
				Those mentors who are giving a tech talk should be checking <a href="/tech-talks">here</a> to find out where and when they are talking.
			</p>
			<h3>Judging & Prizes?</h3>
			<p>
				We hope all of you will be able to make it back on Sunday for the expo and judging. The judging for our hackathon will be a little bit different. <strong>We will be deciding a winner and one runner up for each track during the expo.</strong> There will not be a special judging portion to decide the final winners during the closing ceremony. We will be using <a href="http://hackdukefall2014.challengepost.com/">ChallengePost</a> to do our hack submissions.
				<br>
				<br>
				The expo will be split into 2 sections. Poverty & Inequality and Education will be the first segment. Health & Wellness and Energy & Environment will be the second. For companies who have API prizes, we will give you a list of all hacks related to your prize track, but we also expect you to help us judge the Grand Prize winners and the Novice winner after you've done that. We will be giving the rest of the mentors table numbers a few at a time to check out and indicators of whether these hacks are also novice hacks.
				<br>
				<br>
				Judge the hacks based off of:
				<ul>
					<li><strong>Problem</strong>
						<br>
						Understanding of the community the hack is aimed at, Understanding of the problem attempting to be solved, Extent to which the problem is solved or mediated</li>
						<li><strong>Technical</strong>
							<br>
							Technical ingenuity and ambition, Project difficulty</li>
							<li><strong>Viability</strong>
								<br>
								Ability for the hack to be utilized in the real world, Long term usefulness of the hack</li>
							</ul>
						</p>
					</div>
				</div>
			</div>