<div class="frame-light">
	<div class="container content">
		<h1>Brainstorm Sessions</h1>
		<p class="prize-description text-center">To find out what kinds of challenges these non-profits experts will be presenting doing their brainstorming sessions during HackDuke click <a href="/our-experts">here</a>.</p>
		<div class="row">
			<div class="text-center">
				<h2 class="banner-header">1:30 PM</h2>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/faber.png"><h3>Michael Faber</h3>
				<a href="https://colab.duke.edu/"><img class="sponsor-img-small image-center" src="/partners/colab.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 104</p>
				<p class="text-center"><strong>Track:</strong> Education</p>
				<p class="text-center"><strong>Focus:</strong> Higher Education, The Future of Education</p>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/bryan.png"><h3>Bryan Gilmer</h3>
				<a href="http://umdurham.org/"><img class="sponsor-img-small image-center" src="/partners/umd.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 105</p>
				<p class="text-center"><strong>Track:</strong> Inequality</p>
				<p class="text-center"><strong>Focus:</strong> Homelessness & Poverty</p>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/jonathan-young.png"><h3>Jonathan Young</h3>
				<a href="http://www.communityempowermentfund.org/"><img class="sponsor-img-small image-center" src="/partners/cef.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 103</p>
				<p class="text-center"><strong>Track:</strong> Inequality</p>
				<p class="text-center"><strong>Focus:</strong> Personal Finance for the Underprivileged</p>
			</div>
		</div>
		<div class="row">
			<div class="text-center">
				<h2 class="banner-header">2:00 PM</h2>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/travis.png"><h3>Travis Starkey</h3>
				<a href="http://www.teachforamerica.org/"><img class="sponsor-img-small image-center" src="/partners/tfa.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 104</p>
				<p class="text-center"><strong>Track:</strong> Education</p>
				<p class="text-center"><strong>Focus:</strong> Access to Education</p>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/justin.png"><h3>Justin Straight</h3>
				<a href="http://durhamcares.org/"><img class="sponsor-img-small image-center" src="/partners/durham-cares.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 105</p>
				<p class="text-center"><strong>Track:</strong> Inequality</p>
				<p class="text-center"><strong>Focus:</strong> Community Development</p>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/ryan.png"><h3>Ryan Fehrman</h3>
				<a href="http://genesishome.org/"><img class="sponsor-img-small image-center" src="/partners/genesis-home.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 103</p>
				<p class="text-center"><strong>Track:</strong> Inequality</p>
				<p class="text-center"><strong>Focus:</strong> Familes Facing Homelessness</p>
			</div>
		</div>
		<div class="row">
			<div class="text-center">
				<h2 class="banner-header">2:30 PM</h2>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/gary.png"><h3>Gary Glass</h3>
				<a href="http://studentaffairs.duke.edu/caps"><img class="sponsor-img-small image-center" src="partners/caps.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 104</p>
				<p class="text-center"><strong>Track:</strong> Health & Wellness</p>
				<p class="text-center"><strong>Focus:</strong> Mental Health, Bullying</p>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/bryan.png"><h3>Bryan Gilmer</h3>
				<a href="http://umdurham.org/"><img class="sponsor-img-small image-center" src="/partners/umd.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 105</p>
				<p class="text-center"><strong>Track:</strong> Inequality</p>
				<p class="text-center"><strong>Focus:</strong> Homelessness & Poverty</p>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/jonathan-young.png"><h3>Jonathan Young</h3>
				<a href="http://www.communityempowermentfund.org/"><img class="sponsor-img-small image-center" src="/partners/cef.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 103</p>
				<p class="text-center"><strong>Track:</strong> Inequality</p>
				<p class="text-center"><strong>Focus:</strong> Personal Finance for the Underprivileged</p>
			</div>
		</div>
		<div class="row">
			<div class="text-center">
				<h2 class="banner-header">3:00 PM</h2>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/lauren-gardner.png"><h3>Lauren Gardner</h3>
				<a href="http://emilyk.org/"><img class="sponsor-img-small image-center" src="/partners/emilyk.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 104</p>
				<p class="text-center"><strong>Track:</strong> Education</p>
				<p class="text-center"><strong>Focus:</strong> Access to Education</p>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/nana.png"><h3>Nana Asante</h3>
				<a href="http://durhamcrisisresponse.org/"><img class="sponsor-img-small image-center" src="/partners/durham-crisis-response.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 105</p>
				<p class="text-center"><strong>Track:</strong> Inequality</p>
				<p class="text-center"><strong>Focus:</strong> Domestic Violence</p>
			</div>
			<div class="col-sm-4 text-center">
				data-target="#ryan" class="profile-img"><img class="profile-img" src="/mentors/ryan.png"><h3>Ryan Fehrman</h3></a>
				<a href="http://genesishome.org/"><img class="sponsor-img-small image-center" src="/partners/genesis-home.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 103</p>
				<p class="text-center"><strong>Track:</strong> Inequality</p>
				<p class="text-center"><strong>Focus:</strong> Familes Facing Homelessness</p>
			</div>
		</div>
		<div class="row">
			<div class="text-center">
				<h2 class="banner-header">3:30 PM</h2>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/gary.png"><h3>Gary Glass</h3>
				<a href="http://studentaffairs.duke.edu/caps"><img class="sponsor-img-small image-center" src="/partners/caps.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 104</p>
				<p class="text-center"><strong>Track:</strong> Health & Wellness</p>
				<p class="text-center"><strong>Focus:</strong> Mental Health, Bullying</p>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/chaya.png"><h3>Chaya Rao</h3>
				<a href="http://prathamusa.org/"><img class="sponsor-img-small image-center" src="/partners/pratham.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 105</p>
				<p class="text-center"><strong>Track:</strong> Education</p>
				<p class="text-center"><strong>Focus:</strong> Access to Education Abroad</p>
			</div>
			<div class="col-sm-4 text-center">
				<img class="profile-img" src="/mentors/christine.png"><h3>Christine Miller</h3>
				<a href="http://www.nccoast.org/"><img class="sponsor-img-small image-center" src="/partners/nccf.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 105</p>
				<p class="text-center"><strong>Track:</strong> Health & Wellness</p>
				<p class="text-center"><strong>Focus:</strong> Environmental Protection & Awareness</p>
			</div>
			<div class="col-sm-12 text-center">
				<img class="profile-img" src="/mentors/charles.png"><h3>Charles Robinson</h3>
				<a href="http://www.movementforyouth.org/"><img class="sponsor-img-small image-center" src="/partners/movement-of-youth.png"></a>
				<p class="text-center"><strong>Location:</strong> Gross 107</p>
				<p class="text-center"><strong>Track:</strong> Education</p>
				<p class="text-center"><strong>Focus:</strong> Access to Education</p>
			</div>
		</div>
	</div>
</div>