#jean-grey {
	text-align: right;
	img {
		width: 400px;
		margin-right: 40px;
		margin-top: 50px;
	}
}

#faq {
	padding-bottom: 0;
}

@media (max-width: 320px) {
	#jean-grey {
		text-align: center;
		img {
			width: 300px;
			margin: 0;
		}
	}
}