html, body {
	height: 100%;
	font-family: "Raleway";
	color: white;
	background-color: $background;
}
.container-small {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.frame-light {
	padding: 50px 0;
	position: relative;
	background-color: $background;
}
.frame-dark {
	padding: 100px 0;
	position: relative;
	background-color: darken($background, 5%);
}
.content {
	margin-top: 20px;
	padding-bottom: 20px;
	background-color: white;
}
a {
	color: $blue;
	font-weight: 700;
	&:hover {
		font-weight: 700;
		color: lighten($blue, 20%);
		text-decoration: none;
	}
}
p {
	font-family: "Raleway";
	padding: 10px 20px;
	color: $black;
	font-size: 14px;
}
label {
	font-family: "Raleway";
	padding: 10px 20px;
	color: $black;
	font-size: 14px;
}
form {
	margin-top: 20px;
}
h1 {
	font-family: "Raleway";
	padding: 20px;
	color: $yellow;
	text-shadow: 3px 3px 0 $black, 1px 1px 0 $black;
	background-color: $blue;
	font-weight: 900;
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}
h2 {
	font-family: "Raleway";
	padding: 20px;
	color: $black;
	font-weight: 100;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
}
h3 {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 20px;
	padding: 0 20px;
	color: $black;
}
li {
	color: $black;
}
.cta {
	display: inline-block;
	margin: auto;
	background-color: $yellow;
	padding: 10px 15px;
	font-weight: 500;
	color: $black;
	&:hover {
		background-color: lighten($yellow, 10%);
		color: lighten($black, 10%);
		text-decoration: none;
	}
}
.cta-wrapper {
	background-color: $blue;
	margin-top: 40px;
	.btn-wrapper {
		width: 560px;
		position: relative;
		margin: auto;
		padding-bottom: 40px;
	}
	.cta-lead {
		font-weight: 900;
		font-size: 32px;
		color: $yellow;
		text-shadow: 1px 1px 0 $black, 1px 1px 0 $black;
		text-transform: uppercase;
		padding-top: 30px;
	}
}
.or {
	z-index: 1;
	display: inline;
	position: absolute;
	left: 250px;
	top: -7px;
	background-color: $black;
	color: $yellow;
	height: 60px;
	width: 60px;
	padding-top: 20px;
	border-radius: 50%;
}
.cta-2 {
	font-weight: 500;
	font-size: 16px;
	width: 250px;
	background-color: $yellow;
	padding: 10px 20px;
	margin: 0 15px;
	color: $black;
	border-radius: 0;
	position: relative;
	&:hover {
		background-color: lighten($yellow, 10%);
		color: lighten($black, 10%);
		text-decoration: none;
	}
	&:before {
		content: ' ';
		position: absolute;
		width: 30px;
		height: 0;
		left: -31px;
		top: -1px;
		border-width: 22px 10px;
		border-style: solid;
		border-color: $yellow $yellow $yellow transparent;
	}
	&:after {
		content: ' ';
		position: absolute;
		width: 30px;
		height: 0;
		right: -31px;
		top: -1px;
		border-width: 22px 10px;
		border-style: solid;
		border-color: $yellow transparent $yellow $yellow;
	}
}
.image-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.banner-header {
	background-color: $yellow;
	color: $blue;
	position: relative;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	&:before {
		content: ' ';
		position: absolute;
		width: 30px;
		height: 0;
		left: -30px;
		top: 4px;
		border-width: 27px 10px;
		border-style: solid;
		border-color: darken($yellow, 10%) darken($yellow, 10%) darken($yellow, 10%) transparent;
	}
	&:after {
		content: ' ';
		position: absolute;
		width: 30px;
		height: 0;
		right: -30px;
		top: 4px;
		border-width: 27px 10px;
		border-style: solid;
		border-color: darken($yellow, 10%) transparent darken($yellow, 10%) darken($yellow, 10%);
	}
}
@media (max-width: 768px) {
	h1 {
		font-size: 30px;
	}
	.or {
		display: block;
		position: static;
		margin: 20px auto;
	}
	.cta-2 {
		float: none !important;
		display: block;
		margin: auto;
		&:before {
			top: -5px;
			border-color: darken($yellow, 10%) darken($yellow, 10%) darken($yellow, 10%) transparent;
		}
		&:after {
			top: -5px;
			border-color: darken($yellow, 10%) transparent darken($yellow, 10%) darken($yellow, 10%);
		}
	}
	.btn-wrapper {
		width: 100% !important;
	}
}
.profile-img {
	display: block;
	margin: auto;
	padding: 10px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.img-hover {
	&:hover {
		opacity: 0.7;
	}
}
.icon {
	font-size: 50px;
}
.icon-fa {
	font-size: 35px;
}
.fa {
	margin-top: 25px;
	margin-bottom: 10px;

}
