#home {
	height: 100%;
}

#mlh-trust-badge {
	display: none;
}

#signup-container {
	text-align: center;
	position: relative;
}

#home-badge {
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		margin: auto;
		width: 175px;
	}
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup {

	form {
			display:block;
			position:relative;
			text-align:center;
			padding:10px 0 10px 3%
	}
	h2 {
			font-weight:bold;
			padding:0;
			margin:15px 0;
			font-size:1.4em;
	}
	input {

			border:1px solid #999;
			-webkit-appearance:none;
	}
	input[type=checkbox] {
			-webkit-appearance:checkbox;
	}
	input[type=radio] {
			-webkit-appearance:radio;;
	}
	input:focus {
			border-color:#333;
	}
	.button {
			clear:both;
			background-color: #aaa;
			border: 0 none;
			border-radius: 4px;
			color: #FFFFFF;
			cursor: pointer;
			display: inline-block;
			font-size:15px;
			font-weight: bold;
			height: 32px;
			line-height: 32px;
			margin: 0 5px 10px 0;
			padding:0;
			text-align: center;
			text-decoration: none;
			vertical-align: top;
			white-space: nowrap;
			width: auto;
	}
	.button:hover {
			background-color:#777;
	}
	 .small-meta {
		 	font-size: 11px;
	 }
	.nowrap {
			white-space:nowrap;
	}
	.clear {
			clear:none;
			display:inline;
	}
	label {
			position: relative;
			left: -1.5%;
			display:block;
			font-size:15px;
			padding-bottom:10px;
			font-weight:bold;
			color: $yellow
	}
	input.email {
			position: relative;
			left: 19%;
			display:block;
			padding:8px 0;
			margin:0 4% 10px 0;
			text-indent:5px;
			width:58%;
			min-width:130px;
	}
	input.button {
			position: relative;
			left: 31.5%;
			display:block;
			width:35%;
			margin:0 0 10px 0;
			min-width:90px;
	}
	div#mce-responses {
			float:left;
			top:-1.4em;
			padding:0em .5em 0em .5em;
			overflow:hidden;
			width:90%;
			margin: 0 5%;
			clear: both;
	}
	div.response {
			margin:1em 0;
			padding:1em .5em .5em 0;
			font-weight:bold;
			float:left;
			top:-1.5em;
			z-index:1;
			width:80%;
		}
		#mce-error-response {
				display:none;
		}
		#mce-success-response {
				color:#529214;
				display:none;
		}
		label.error {
				display:block;
				float:none;
				width:auto;
				margin-left:1.05em;
				text-align:left;
				padding:.5em 0;
		}
}

#baby-kitty {
	img {
		display: none;
		position: absolute;
		bottom: 0;
		margin: 20px 40px;
		width: 150px;
	}
}

#wolverine {
	img {
		margin: 0 auto;
		display: block;
		width: 300px;
	}
}

#kenan {
	padding-bottom: 0;
}

#finalregister {
	p {
		display: none;
		padding: 0;
		margin: 20px 0 0 0;
	}
	h3 {
		font-weight: 900;
		font-size: 16px;
		text-transform: uppercase;
		margin: 10px 0;
		color: $yellow;
	}
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 40px;
}

.arrow-down {
	display: none;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
}

.cta-3 {
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	width: 110px;
	background-color: $blue;
	padding: 8px 10px;
	color: $yellow;
	position: relative;
	border-radius: 0;
	display: inline-block;
	margin: 10px auto;
	&:hover {
		background-color: lighten($blue, 10%);
		color: lighten($yellow, 10%);
		text-decoration: none;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (min-height: 768px) {
	#mlh-trust-badge {
		display: none;
	}

	#home-badge {
		img {
			width: 300px;
		}
	}
	#register {
		.cta-3 {
			margin: 10px;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (min-height: 768px) {
	#mlh-trust-badge {
		display: none;
	}

	#baby-kitty {
		img {
			display: block;
			width: 250px;
		}
	}
	#register {
		background-color: charcoal;
		width: 200px;
		border-radius: 10px;
		bottom: 350px;

		p {
			text-align: center;
			display: block;
		}
		h3 {
			color: $charcoal;
		}
		.cta-3 {
			margin: 5px;
		}
		#signup-container {
			padding: 10px 20px;
		}
		.btn {
			margin-top: 10px;
		}
		.arrow-down {
			display: block;
			position: absolute;
			left: 130px;
		}
	}
	#home-badge {
		img {
			width: 400px;
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (min-height: 768px) {

	#mlh-trust-badge {
		position:fixed;
		top:0;
		right:50px;
		max-width:100px;
		width:10%;
		min-width: 60px;
		display:block;
		z-index:10000;
	}

	#baby-kitty {
		img {
			display: block;
			width: 300px;
		}
	}
	#signup-container {
		text-align: center;
		position: relative;
	}
	#finalregister {
		p {
			display: none;
			padding: 0;
			margin: 20px 0 0 0;
		}
		h3 {
			font-weight: 900;
			font-size: 25px;
			text-transform: uppercase;
			margin: 10px;
			color: $yellow;
		}
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		margin: 40px;
	}

	.cta-3 {
		text-align: center;
		font-weight: 500;
		font-size: 20px;
		width: 110px;
		background-color: $blue;
		padding: 8px 10px;
		color: $yellow;
		position: relative;
		border-radius: 0;
		display: inline-block;
		margin: 10px auto;
		&:hover {
			background-color: lighten($blue, 10%);
			color: lighten($yellow, 10%);
			text-decoration: none;
		}
	}
}
