#sponsors {
	padding-bottom: 80px;
	width: 100%;
}
.sponsor-img-small {
	width: 150px;
	padding: 20px;
}
.sponsor-img-large {
	width: 350px;
	padding: 20px;
}
.sponsor-img-medium {
	width: 250px;
	padding: 20px;
}