<h1>Listing winners</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @winners.each do |winner| %>
      <tr>
        <td><%= link_to 'Show', winner %></td>
        <td><%= link_to 'Edit', edit_winner_path(winner) %></td>
        <td><%= link_to 'Destroy', winner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Winner', new_winner_path %>
