<div class="frame-light">
	<div class="container content">
		<h1>Mentorship Guidelines</h1>
		<div class="container-small">
			<h3>Leading Up To HackDuke</h3>
			<ol>
				<li>Take time to think about the problems that your specific track faces with the distribution, analysis and visualization of information.</li>
				<li>Check out our <a href="www.hackduke.tumblr.org">blog</a>, the <a href="">challenges</a> that the community of Durham have worked together to create and the <a href="">datasets</a> available!</li>
			</ol>
			<h3>Day Of HackDuke</h3>
			<ol>
				<li>Parking and transportation information can be found <a href="/travel">here</a>.</li>
				<li>Check in as mentor at 10:30 AM Saturday, November 15th and engage in conversation with our participants over lunch.</li>
				<li>After the opening ceremony, partake in the brainstorming and community building activities with the participants. We hope you can leverage the expertise you have in your area to help give more information about the issues at hand to give constructive feedback on the solutions.</li>
				<li>Judge the hacks on site on Sunday afternoon.</li>
				<li>Have an amazing time interacting with developers and designers who truely care about improving their community.</li>
			</ol>
		</div>
	</div>
</div>