#sponsors {
	text-align: center;
	padding-bottom: 80px;
	width: 100%;
}

.sponsor-large {
	display: block;
	margin: auto;
	width: 300px;
	padding: 30px;
}

.sponsor-medium {
	width: 250px;
	padding: 30px;
}

.sponsor-small {
	width: 200px;
	padding: 30px;
}