<div class="frame-light">
  <div class="container content">
    <h1>Prizes</h1>
    <div class="row prizes">
      <h2 class="text-center banner-header">Grand Prize Track Winners</h2>
    </div>
    <div class="row prizes">
      <h2 class="text-center banner-header">Grand Prize Track Winners</h2>
    </div>
    <div class="row prizes">
      <h2 class="text-center banner-header">Company Sponsored Prizes</h2>
      <% @prizes.each do |p| %>
      <div class="col-sm-6">
        <a href="<%= p.sponsor.link_url %>">
          <img class="sponsor-img-small image-center" src="sponsors/<%= p.sponsor.image_url %>">
        </a>
        <h3 class="text-center"><%= p.title %></h3>
        <div><%= p.html_content.html_safe %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>