<div class="col-xs-12">
	<h2>Frequently Asked Questions</h2>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
	<h3>When? Where?</h3>
	<p>Starts: November 16, 2pm<br />
		Ends: November 17, 5pm<br />
		Hosted on Duke University's West Campus
	</p>

	<h3>What can I make?</h3>
	<p>
		We welcome all software and hardware hacks.<br />
		We will have lab space for hardware hackers.
	</p>
	<h3>Who can I work with?</h3>
	<p>Anyone! Get to know your fellow programmers better from your own school and from other schools as well!
		<br/>
		The only request that we have is that you have a max of 4 people on your team and that you make a new friend.
	</p>
	<h3>Travel?</h3>
	<p>If you're from coming in from UMD, UVA, VTech, GATech, or in-state we'll be sending you a bus or reimbursing travel costs. Reach out to us (<a href="fall2013/mailto:hackers@hackduke.org">hackers@hackduke.org</a>) if you haven't already secured yourself a seat on the bus. But hurry! Spots are running out!
	</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
	<h3>Did someone say prizes?</h3>
	<p>Yes! We'll be giving away:</p>
	<ul>
		<li><a href="http://www.google.com/intl/en_us/chrome/devices/chromebook-pixel/">Chromebook Pixels</a></li>
		<li><a href="http://ardrone2.parrot.com/">Parrot Drone Quadcopters</a></li>
		<li>Tickets to conferences and tech events</li>
	</ul>
	<p>
		And a bunch of other prizes :D
	</p>

	<h3>What are the prize categories?</h3>
	<ul>
		<li>Best Overall Hack</li>
		<li>Best Novice Hack (if this is your first Hackathon)</li>
	</ul>
	<p>And more to be announced soon!</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
	<h3>Am I going to have fun?</h3>
	<p>Heck yeah! There's going to be:</p>
	<ul>
		<li>An onsite barista to keep you caffeinated</li>
		<li>A Nerf Gun War! Pew pew!</li>
		<li>Lots of tech talks</li>
	</ul>
	<p>Have a suggestion? Send us a message! :)</p>

	<h3>Anything I should remember to bring?</h3>
	<p>
		Bring your own ethernet cables. (or you can just WIFI)<br />
		Bring any Nerf gun arsenal you have!
	</p>
	<h3>How do I get in touch?</h3>
	<p>Contact us at <a href="fall2013/mailto:hackers@hackduke.org">hackers@hackduke.org</a>.</p>
</div>