<div class="col-xs-12 text-center">
	<h2>News, Pictures and Videos</h3>
		<div class="row col-xs-12 text-center">
			<p>Duke Today | <a href="http://today.duke.edu/2013/11/dukehack#photo">500 Students, 24 Hours, 102 New Projects at HackDuke</a></p>
			<p>Duke Chronicle | <a href="http://www.dukechronicle.com/articles/2013/11/18/duke-hackathon-attracts-more-500-students-work-real-world-projects">
				Duke Hackathon attracts more than 500 students to work on real-world projects
			</a></p>
			<p>WRAL TechWire | <a href="http://wraltechwire.com/-hack-duke-an-off-the-charts-event-for-tech-creators/13128807/"> 'Hack Duke' - an 'off the charts' event for tech creators </a></p>
			<p>WNCN | <a href="http://www.wncn.com/story/23990102/duke-university-plays-host-to-more-than-500-hackers"> Duke University plays host to more than 500 hackers </a></p>
		</div>

		<div class="col-lg-6">
			<iframe width="560" height="315" src="http://www.youtube.com/embed/rt1pYc4PyM8" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-lg-6">
			<iframe width="560" height="315" src="http://www.youtube.com/embed/9puQNd1rJTs" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-lg-6 text-center">
			<h3 class="video-title">SendGrid Throwing Out Swag</h3>
			<iframe width="560" height="315" src="http://www.youtube.com/embed/yX0QghpVxXA" frameborder="0" allowfullscreen></iframe>
			<h3 class="video-title">Duke University Press!</h3>
			<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-post" data-href="https://www.facebook.com/hackduke/posts/192562417596108" data-width="550"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/hackduke/posts/192562417596108">Post</a> by <a href="https://www.facebook.com/hackduke">hack Duke</a>.</div></div>
			<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-post" data-href="https://www.facebook.com/hackduke/posts/192562347596115" data-width="550"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/hackduke/posts/192562347596115">Post</a> by <a href="https://www.facebook.com/hackduke">hack Duke</a>.</div></div>
		</div>
		<div class="col-lg-6 text-center">
			<h3 class="video-title">eBay's Sponsored Nerf Gun War</h3>
			<iframe width="560" height="315" src="http://www.youtube.com/embed/azgTUSWVj5M" frameborder="0" allowfullscreen></iframe>
			<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-post" data-href="https://www.facebook.com/photo.php?v=689436821068261" data-width="550"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/photo.php?v=689436821068261">Post</a> by <a href="https://www.facebook.com/timmy.blumberg">Timmy Blumberg</a>.</div></div>
			<h3 class="video-title">Photo Albums</h3>
			<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-post" data-href="https://www.facebook.com/media/set/?set=a.10202313670341188.1073741828.1174474323&amp;type=1" data-width="550"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/media/set/?set=a.10202313670341188.1073741828.1174474323&amp;type=1">Post</a> by <a href="https://www.facebook.com/tadimsky">Jonno Schmidt</a>.</div></div>
			<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-post" data-href="https://www.facebook.com/hackduke/posts/193265440859139" data-width="550"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/hackduke/posts/193265440859139">Post</a> by <a href="https://www.facebook.com/hackduke">hack Duke</a>.</div></div>
		</div>
	</div>
</div>