<div class="col-xs-12">
	<h2>Check out our sponsors</h2>
</div>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<a href="http://www.ebay.com/"><img class="sponsor1" src="sponsors/ebay.png"></a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
		<a href="http://milo.com/"><img class="sponsor1" src="sponsors/milo.png"></a>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<a href="http://www.intel.com/content/www/us/en/homepage.html"><img class="sponsor1" src="sponsors/intel.png"></a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12">
		<a href="http://epicgames.com/"><img class="sponsor1" src="sponsors/epic-games.png"></a>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-12">
		<a href="https://colab.duke.edu/"><img class="sponsor1" src="sponsors/colab.png"></a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
		<a href="http://www.att.com/#fbid=Cf1AJzL3nox"><img class="sponsor2" src="sponsors/att.png"></a>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<a href="https://www.google.com/"><img class="sponsor2" src="sponsors/google.png"></a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
		<a href="https://coinbase.com/"><img class="sponsor2" src="sponsors/coinbase.png"></a>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://sendgrid.com/"><img class="sponsor3" src="sponsors/sendgrid.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://janestreet.com/"><img class="sponsor3" src="sponsors/jane-street.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://www.thielfellowship.org/"><img class="sponsor3" src="sponsors/thiel.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://www.qualcomm.com/"><img class="sponsor3" src="sponsors/qualcomm.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://www.cs.duke.edu/"><img class="sponsor3" src="sponsors/cs.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="https://www.coursera.org/"><img class="sponsor3" src="sponsors/coursera.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://www.khanacademy.org/"><img class="sponsor3" src="sponsors/khan-academy.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://www.greylock.com/"><img class="sponsor3" src="sponsors/greylock.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://www.microsoft.com/en-us/default.aspx"><img class="sponsor3" src="sponsors/microsoft.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="https://www.facebook.com/"><img class="sponsor3" src="sponsors/fb.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://www.palantir.com/"><img class="sponsor3" src="sponsors/palantir.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="https://github.com/"><img class="sponsor3" src="sponsors/github.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="https://www.sparkfun.com/"><img class="sponsor3" src="sponsors/sparkfun.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://appia.com/"><img class="sponsor3" src="sponsors/appia.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://electricimp.com/"><img class="sponsor3" src="sponsors/electric-imp.png"></a>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://www.lob.com/"><img class="sponsor3" src="sponsors/lob.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://www.vidyo.com/"><img class="sponsor3" src="sponsors/vidyo.png"></a>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
		<a href="http://www.americanunderground.com/"><img class="sponsor3" src="sponsors/au.png"></a>
	</div>
</div>
<div class="col-lg-12" id="interested">
	<a class="btn btn-lg btn-white" id="sponsor-link" href="http://hackduke.org/SponsorHackDuke.pdf">Get Involved</a>
</div>