<h3>Main Prize Winners</h3>
<p>First Place: $5000 | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/sign-language-to-speech">Sign Language To Speech</a></p>
<p>Second Place: $2000 | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/artgenius">Art Genius</a></p>
<p>Third Place: $1000 | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/air-instruments">Air Instruments</a></p>
<p>Novice Prize: $1000 | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/gravity-bell">Gravity Bell</a></p>
<h3>Other Top Projects</h3>
<p><a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/all4d">All4D</a></p>
<p><a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/wireless-midi-floor-instrument-solutions">Wireless MIDI Floor Instrument Solutions</a></p>
<p><a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/oculus-dual-web-cam-kinect-servo-nerf-turret">Oculus Dual Web Cam Kinect Servo Nerf Turret</a></p>
<p><a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/pebble-based-gesture-interface-for-android">Pebble based Gesture Interface for Android</a></p>
<p><a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/vrts">VRTS</a></p>
<p><a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/quandary">Quandary</a></p>
<p><a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/sora-cloud-gaming-platform">Sora Cloud Gaming Platform</a></p>
<p><a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/the-swolster">The Swolster</a></p>
<h3>Sponsor and Category Prizes Winners</h3>
<p>Epic Games: Best Game | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/air-instruments">Air Instruments</a></p>
<p>eBay: Best Commerce App | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/crowdcrunch">CrowdCrunch</a></p>
<p>AT&T/Intel Developer Challenge | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/northstar-portable-onstar-for-drivers-athletes-soldiers-and-senior-citizens">NorthStar: Portable OnStar for Drivers, Athletes, Soldiers, and Senior Citizens</a></p>
<p>Innovation co-lab: Best Education Related App (Duke Only) | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/inquizio">Inquizio</a></p>
<p>Best Use of Coinbase API | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/bitbuybit">bitBUYbit</a></p>
<p>Google Prize: Coolest use of a Google API | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/northstar-portable-onstar-for-drivers-athletes-soldiers-and-senior-citizens">NorthStar: Portable OnStar for Drivers, Athletes, Soldiers, and Senior Citizens</a> | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/chaching">ChaChing</a></p>
<p>Best Usage of SendGrid API | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/educationapp">EducationApp</a></p>
<p>Thiel Foundation: Under 20 Prize | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/sign-language-to-speech">Sign Language To Speech</a></p>
<p>Best use of a Microsoft Platform | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/air-instruments">Air Instruments</a></p>
<p>Best Twilio Hack | <a href="https://www.hackerleague.org/hackathons/hackduke-1/hacks/all4d">All4D</a></p>