<div class="frame-light">
  <div class="container content">
    <h1>Meet Our Team</h1>
    <div class="row team">
      <% @organizers.each do |o| %>
      <% if o.admin == false && o.match?("Spring", 2014) %>
      <div class="col-sm-4 col-md-3">
        <img class="team-image" src="organizers/<%= o.image_url %>">
        <h3 class="team-member text-center"><%= o.name %></h3>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="container content">
    <h1>Thanks To Our Faculty</h1>
    <div class="row team">
      <% @organizers.each do |o| %>
      <% if o.admin == true && o.match?("Spring", 2014)%>
      <div class="col-sm-4 col-md-3">
        <img class="team-image" src="organizers/<%= o.image_url %>">
        <h3 class="team-member text-center"><%= o.name %></h3>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>